name: Hello World

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    hello:
        runs-on: git-runner01
        steps:
            - uses: actions/checkout@v4
            - name: hello world
              run: echo "Hello World"
              shell: bash
    goodbye:
        runs-on: git-runner01
        steps:
            - uses: actions/checkout@v4
            - name: goodbye world
              run: echo "Goodbye World"
              shell: bash